video {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* GLOBAL STYLES */

section{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 280px;
}

/* NAVBAR SECTION */

#navbar{
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  background-color: rgba(0, 0, 0, 0.137) !important;
  color: #BF8A29 !important;
}

#navbar img{
  height: 100%;
}

.nav-items{
  display: flex;
  justify-content: space-around;
  color: #BF8A29;
}

.nav-items div{
  margin-right: 20px;
}

/* HERO SECTION */

.viewport-header {
  /* background-color: aliceblue; */
  position: relative;
  height: 100vh;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;

}

.viewport-header .text-box{
  width: 40vw;
  margin-left: 90px;
}

/* ------------------------ */
/* TOKEN ECONOMICS SECTION */
/* ------------------------ */

#token-economics{
  display: flex;
  justify-content: space-around;
  height: auto;

}

/* ------------------------ */
/* NFT AIRDROP SECTION  */
/* ------------------------ */

#nft-airdrops{
  display: flex;
  justify-content: space-around;
}

/* ------------------------- */
/* ROAD MAP SECTION */
/* ------------------------- */

#road-map .timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

#road-map .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

#road-map .container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

#road-map.container.left {
  left: 0;
}

#road-map .container.right {
  left: 50%;
}

#road-map .container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

#road-map .container.right::after {
  left: -8px;
}

#road-map .container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

#road-map .container.right::before {
  left: 8px;
}

#road-map .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

#road-map .container.left .date {
  right: -75px;
}

#road-map .container.right .date {
  left: -75px;
}

#road-map .container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

#road-map .container.left .icon {
  right: 56px;
}

#road-map .container.right .icon {
  left: 56px;
}

#road-map .container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

#road-map .container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

#road-map .container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

#road-map .container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  #road-map .timeline::after {
    left: 90px;
  }

  #road-map .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  #road-map .container.right {
    left: 0%;
  }

  #road-map.container.left::after, 
  .container.right::after {
    left: 82px;
  }

  #road-map .container.left::before,
  #road-map .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  #road-map.container.left .date,
  #road-map .container.right .date {
    right: auto;
    left: 15px;
  }

  #road-map .container.left .icon,
  #road-map .container.right .icon {
    right: auto;
    left: 146px;
  }

  #road-map .container.left .content,
  #road-map .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
